{% extends "base.html" %}

{% block content %}

<h2>All Tasks</h2>

<a href="{% url 'add_task' %}">
    <button class="btn btn-add">➕ Add Task</button>
</a>

<br><br>

{% for task in tasks %}

<div class="card">

    <h3>{{ task.title }}</h3>

    <p>Status:
        {% if task.completed%}
            ✅ Completed
        {% else %}
            ❌ Pending
        {% endif %}
    </p>

    <a href="{% url 'toggle_complete' task.id %}">
        <button class="btn btn-toggle">
            {% if task.completed %}
                Mark incomplete
            {% else %}
                Mark Complete
            {% endif %}
        </button>
    </a>

    <p>{{ task.description }}</p>

    <p>Priority: {{ task.priority }}</p>

    {% if task.due_date %}
        <p>Due: {{ task.due_date }}</p>
    {% endif %}
    

    <small>Created: {{ task.created_at }}</small>

</div>

{% empty %}

<p>No tasks yet.</p>

{% endfor %}

{% endblock %}
